:root {
    /* Cuando inician con 2 puntos se les llama seudoselectores */
    /* Root es un seudoselector. Definiremos nuesta paleta de colores para la pag "custom property"*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #35898b;
    --gris: #757575;
    /* y asi mas colores que estaran en nuestra pag */
}

/* ------------------------------------- GLOBALES --------------------------------------- */
html {
    font-size: 62.5%; /* truco para formatear la pag y usar la unidad de medida rem, en html y body */
    font-family: 'Krub', sans-serif;
    box-sizing: border-box; /* box-sizing, Vine de PaulIrishWeb para facilitar el modelo caja en css "box model"  */
    /*scroll-snap-type: y mandatory;   x proximity */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* Con estas 2 lineas (html y body) ya podemos escribir codigo en rem. 1rem = 10px... 60px=6rem */
    background-image: linear-gradient(to top, #efefef 0%, #efefefa0 100%);
}

.contenedor {
    /* Esta dentro de la clase: navegacion_principal, hay 2 clases */
    max-width: 120rem;
    /* Toma 120 rem como maximo, ajustandose si es menos. Normalmente es el estandar ;) */
    margin: 0 auto 0 auto;
    /* Con auto hacia los costados centra el contenedor */
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2rem;/* 1rem */
    border: none; /* Es para el input del formulario */
}

.sombra {
    -webkit-box-shadow: 0px 6px 11px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 11px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 11px 2px rgba(0, 0, 0, 0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
}

/* ------------------------------------- TIPOGRAFIA --------------------------------------- */
h1 {
    font-size: 3.8rem;
    /* La medida rem es relativa al docuemnto y en la pantalla donde se visualizara */
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
    /* 18px */
}

h1,
h2,
h3 {
    text-align: center;
}

/* ------------------------------------- TITULOS --------------------------------------- */

header .titulo{
    margin: 0;
    padding: 2.5rem;
    background-color: var(--secundario);
    color: var(--blanco);
}

/* ------------------------------------- NAVEGACION PRINCIPAL --------------------------------------- */
.navbar {
    position: relative;
    padding: 0rem;
}

.container-fluid{
    padding: 0rem;
    background-color: var(--secundario);
}

.navbar-light .navbar-toggler{
    border: 2px solid var(--primario); /* Establece el color del borde */
    border-radius: 5px; /* Añade bordes redondeados */
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 193, 7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");    
}


.navbar-toggler{
    margin: 0rem 1rem 1rem 1rem;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bg-light .navbar-nav .nav-link {
    background-color: var(--secundario);
    text-align: center;
}

.bg-light .navbar-nav .nav-link {
    color: var(--blanco);
}

.bg-light .navbar-nav .nav-link:hover {
    color: var(--primario);
}

.developer a:hover,
.enviar button:hover {
    background-color: var(--primario);
    color: var(--oscuro);
    text-decoration: none;
}

/* ------------------------------------- DEVELOPER --------------------------------------- */
.developer {
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    /* Por default todas las img se repiten */
    background-size: cover; /* cover, toma todo el ancho  */
    background-position: center center; 
    height: 450px;
    /* Con el box-sizing de PaulIrishWeb ya no tenemos el problema de padding*/
    position: relative;
    /* El padre siempre en posicion RELATIVA, Para que el hijo se posicione de forma absoluta */
    margin-bottom: 2rem;
}

.contenido-developer {
    /* Lo usamos para la sombra de la img */
    position: absolute;
    width: 100%;
    /* Para que tome todo el tamaño del padre y se exienda toda la sombra */
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    /* La transparencia desde el 0 hasta el 1 por eso .4 */
    /* RGBA por la transparencia */
    /* background-color: rgb(0 0 0 / 40%);  Otra forma de reprsentar la transparencia */

    /* PARA ALINEAR AL CENTRO PORQUE VIENE DEL PADRE .developer. Para alinear VERTICAL Y HORIZONTALMENTE */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco)
}

/* ------------------------------------- SERVICIOS --------------------------------------- */
@media (min-width:480px) {
    .servicios {
        display: grid;
        /* grid para mover el contenido de con mas presicion con  */
        grid-template-columns: 1fr 1fr 1fr;
        /*En francciones, tambien  33.3% 33.3% 33.3rem; para definir las columnas  */
        /*grid-template-rows: 20rem 80rem;  superior e inferior */
        /* grid: 20rem 20rem/ 30rem 30rem*/
        column-gap: 5rem;
        /* Similar a un paddding */
    }
}

.servicios_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios_section p {
    line-height: 2;
    /* separacion de texto para poder leer */
    text-align: center;
}

.servicios_section h3 {
    color: var(--secundario);
    font-weight: normal;
}

.iconos {
    /* .servicios_section */
    height: 15rem;
    /* Forma un cuadrado y con border-radius 50% un redondo */
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    /* flex viene por defecto row asi habilitamos justify y aling */
    justify-content: space-evenly;
    align-items: center;
}

/* ------------------------------------- FORMULARIO --------------------------------------- */
.error, .enviado {
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}
.error{
    background-color: rgb(185, 0, 0);
}
.enviado {
    background-color: rgb(74, 185, 0);
}

.formulario fieldset {
    border: none;
}

.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);/* Utiliza el valor mas pequeño, asi nos ahorramos un media query */
    margin: 0 auto;  /* Si el padre no tiene un displey flex, es mejor usar el margin */
    padding: 2rem;
    border-radius: 1.5rem;
}

.formulario legend{
    /*position: relative;
    left: both;  Porque no me quiere centrar */
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width:480px) {
    .contenedor-campos{ /* separamos los campos */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 20rem; /* La cuarta fila tendra 20rem */
        column-gap: 1rem; /* para la separacion de columnas */
    }
    
    .campos:nth-child(3), .campos:nth-child(4), .campos:nth-child(5){  /* para que solo tome el tercer campo y ahora tambien el 4 campo*/
        grid-column: 1/3; /* que valla de la 1 hasta la 3  */
    }
    
    
}
.campos{
    margin-bottom: 1.3rem;
}

.campos label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

/* .campo input[type = "text"]{   *una forma de ser mas selectivo con los input
    background-color: #0097A7;
} */

.campos textarea{
    height: 20rem;
}

.input{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.enviar{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

@media (min-width:480px) {
   .enviar{
    padding-top: 5rem
   }
}

.boton:hover{
    cursor: pointer;
}

/* ------------------------------------- FOOTER --------------------------------------- */
.footer{
    text-align: center;
    padding-top: 3rem;
}